<h1>Session#new on JiraExample</h1>

<%= form_for :sessions, action: :create do |f| %>
  <p>
      <%= f.label :username %><br>
      <%= f.text_field :username %>
  </p>
  <p>
      <%= f.submit %>
  </p>
<% end %>
